@import "../base/variables.css";

* {
    box-sizing: border-box;
}

#footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-dark);
    gap: 30px;
    padding: 20px 0;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 160px;
}

.footer-logo img {
    width: 160px;
    height: auto;
}

.footer-column h5 {
    color: #f5b400;
    margin-bottom: 10px;
}

.footer-column p {
    color: var(--text-muted);
    font-size: 14px;
    line-height: 1.6;
}

.sub-icon li {
    list-style: none;
    margin: 10px 0;
}

.sub-icon li a {
    text-decoration: none;
    color: var(--text-muted);
}

/* Tablet */
@media (max-width: 1024px) {
    #footer {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 20px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    #footer {
        grid-template-columns: repeat(2, 1fr);
        /* Chia 2 cột */
    }
}

/* Mobile nhỏ (480px) */
@media (max-width: 500px) {
    #footer {
        grid-template-columns: 1fr;
        /* 1 cột duy nhất */
        text-align: center;
        gap: 30px;
    }

    .footer-column {
        align-items: center;
        /* Căn giữa mọi thứ trong cột */
    }

    .footer-logo img {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 20px;
        margin-bottom: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .sub-icon li i {
        margin-right: 5px;
    }
}