footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: rgba(5, 10, 24, 0.95);
    margin: 0 20px;
}

#footer-column img {
    width: 180px;
    height: 140px;
}

#footer-column {
    width: 100px;
    height: 100px;
}