<head>
    <link rel="stylesheet" href="../../frontend/css/footer.css">
</head>

<body>
    <footer>
        <div id="footer">
            <div id="footer-column">
                <img src="../../frontend/assets/img/logoogin.png" alt="">
            </div>
            <div id="footer-column">
                <h5>PopCin Việt Nam</h5>
                <div class="information">

                </div>
            </div>
            <div id="footer-column">
                <h5>Điều khoản sử dụng</h5>
            </div>
            <div id="footer-column">
                <h5>Kết nối với chúng tôi</h5>
            </div>
            <div id="footer-column">
                <h5>Chăm sóc khách hàng</h5>
            </div>
        </div>
    </footer>
</body>