<body>
    <header>
        <div id="sidebar">
            <ul class="sub-sidebar">
                <li class="sub-icon">
                    <i class="fa-solid fa-bars" style="cursor: pointer; font-size: 24px;"></i>
                    <ul class="icon-menu">
                        <img src="../../frontend/assets/img/demoside.jpeg" alt="">
                        <a href="../../frontend/pages/home.html">
                            <li><i class="fa-regular fa-house"></i>
                                <span>HOME</span>
                            </li>
                        </a>
                        <li><i class="fa-solid fa-ticket-simple"></i>
                            <span>TICKET</span>
                        </li>
                        <li><i class="fa-regular fa-heart"></i>
                            <span>Phim Yêu Thích</span>
                        </li>
                        <li><i class="fa-solid fa-share-nodes"></i>
                            <span>SHARE</span>
                        </li>
                        <li><i class="fa-regular fa-user"></i>
                            <span>USER</span>
                        </li>
                        <li><i class="fa-solid fa-clapperboard"></i>
                            <span>MOVIES</span>
                        </li>
                        <li><i class="fa-solid fa-gear"></i>
                            <span>SETTING</span>
                        </li>
                    </ul>
                </li>
                <li><a href="#">MOVIES</a></li>
                <li><a href="#">SERIES</a></li>
                <li><a href="#">TV SHOWS</a></li>
            </ul>
        </div>
        <div id="logo-center">
            <img src="../frontend/assets/img/LOGO 2.gif" alt="">
        </div>

        <div id="btn">
            <button>
                <a href="../../frontend/components/login.html">Đăng Nhập</a>
            </button>
        </div>
    </header>
</body>