<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PopCine - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="glass-container">
        <form class="form-login" action="#" method="post">
            <img src="../assets/img/logoogin.png" alt="">
            <div class="icon-social">
                <a href=""><i class="fa-brands fa-google"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
            <div class="input-group">
                <label for="EMAIL">Username</label>
                <input type="email" id="email" placeholder="Tên đăng nhập" required>
            </div>
            <div class="input-group">
                <label for="PASSWORD">Password</label>
                <input type="password" id="password" placeholder="Mật Khẩu" required>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forget Password</a>
            </div>
            <button class="btn-login" type="submit">Login</button>
            <div class="register-link">
                <a href="#">Register Account</a>
            </div>
        </form>
    </div>
</body>