@import '../base/variables.css';
@import '../base/reset.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/background-login.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.btn {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: var(--color-primary);
    padding: 10px 10px;
    border-radius: 5px;
}

.btn a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 15px;

}

.glass-container {
    background-color: rgba(red, green, blue, alpha);

}

.input-group {
    width: 85%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.lb-input {
    color: #FFD700;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 12px;
    border: none;
    outline: none;
}

.form-login {
    width: 380px;
    height: 75%;
    border-radius: 35px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.70);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-container img {
    width: 200px;
    height: 150px;
}

input[type="email"],
input[type="password"],
.submit-btn {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    font-size: 16px;
}

.icon-social {
    margin: 20px 0;
}

.icon-social a {
    margin: 0 15px;
}

.fa-google {
    color: #DB4437;
    font-size: 24px;
    transition: 0.3s;
}

.fa-facebook {
    color: #1877F2;
    font-size: 24px;
    transition: 0.3s;
}

.fa-twitter {
    color: #1DA1F2;
    font-size: 24px;
    transition: all 0.3s ease;
}


.fa-google:hover,
.fa-facebook:hover,
.fa-twitter:hover {
    transform: translateY(-3px);
    filter: drop-shadow(0 0 10px currentColor);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 10px;
    color: white;
    font-size: 13px;
}

.remember-forgot a {
    text-decoration: none;
    color: #FFD700;
    font-weight: 600;
}

.btn-login {
    width: 85%;
    padding: 12px 25px;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: #b20710;
    color: aliceblue;
}

.btn-login:hover {
    box-shadow: 0 0 20px rgba(255, 140, 0, 0.6);
    transform: translateY(-2px);
    background: linear-gradient(45deg, #FF8C00, #FFD700);
}

.register-link {
    margin-bottom: 10px;
}

.register-link a {
    margin: 15px 0px;
    text-decoration: none;
    color: #1877F2;
    font-weight: 600;
}